.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    list-style-type: none;
    user-select: none;
  }
  
  .pagination-item {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    background: var(--color-darkslategray);
    color: var(--color-coral);
  }
  
  .pagination-item:hover {
    background-color: #29353b;
  }

  .pagination-item.active {
    background: var(--color-turquoise);
  }

  .pagination-item.active:hover {
    background-color: #04c7ef;
  }

  .pagination-item.disabled{
    opacity: 0.4;
  }

  .pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }